{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!doctype html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ request.title|default:"tvdastur" }}</title>
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="{% url 'main:index' %}">TVDASTUR</a>
                <form method="get" action="{{ request.path }}" class="form-inline">
                    <input class="form-control mr-sm-2" type="text" name="p" value="{{ request.GET.p }}" placeholder="{% trans 'Kanal nomi kiriting' %}" aria-label="{% trans 'Kanal nomi kiriting' %}">
                    <button class="btn btn-outline-info my-2 my-sm-0" type="submit">{% trans "Qidirish" %}</button>
                </form>
                <a href="admin/" class="btn btn-outline-info">{% trans "Admin" %}</a>
                <li class="nav-item dropdown ml-3">
                    <a class="active lang-link" id="navbarDropdown" role="button" data-toggle="dropdown">
                        {% for language in LANGUAGES %}
                            {% if  language.0 == LANGUAGE_CODE %}
                                {{ language.1 }}
                            {% endif %}
                        {% endfor %}
                    </a>
                    <div class="dropdown-menu">
                        {% for language in LANGUAGES %}
                            <a class="dropdown-item" href="/{{ language.0 }}{{ request.get_full_path|slice:"3:" }}">{{ language.1 }}</a>
                        {% endfor %}
                    </div>
                </li>
            </div>
        </nav>
{#        {{ LANGUAGES }} // {{ LANGUAGE_CODE }}#}
            {% block content %}{% endblock %}
    </div>

    <script src="{% static 'vendor/jquery.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

</body>
</html>

